/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --light-highlight-color: #7a9fc2; /*  light blue*/
}

/* Global styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Navbar styles */
#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* Hedaer section */

#header .lead {
  font-family: var(--secondary-font);
}

/* Services section */

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card {
  margin-bottom: 1.5rem;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */
